.main {
    font-family: 'Poppins', sans-serif;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.logout-button-container {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logout-button {
    position: absolute;
    top: 0.5em;
    right: 1em;
    width: 100%;
    height: 100%;
}

