.file-view {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /*    width: 100vw;*/

    overflow-y: scroll;
}

.file-view-container{
    width: 100%;
    height: auto;
    background: white;
    border-radius: 15px;
    color: black;
}

.line {
    height: 1px;
    width: 90vw;
    background: grey
}

.menu-vertical-container {
    cursor: pointer;
}

.menu-vertical {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.upload-view {
    height: 100%;
    overflow-y: scroll;
}