@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.app {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 99vw;
  background: #101010;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.file {
  background: blue;
}

.file:hover {
  background: white;
}

.container-fluid {
  padding: 0;
}

.ag-grid-container {
  width: 100%;
  height: 100vh;
}

.ag-header-cell-label {
  justify-content: center;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  background: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}


