.App {
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.file {
  background: blue;
}

.file:hover {
  background: white;
}

.container-fluid {
  padding: 0;
}

.ag-grid-container {
  width: 100%;
  height: 100vh;
}

.ag-header-cell-label {
  justify-content: center;
}

