@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.upload-view-container {
    height: auto;
    background: white;
    border-radius: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
