@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.upload-view-container {
    height: auto;
    background: white;
    border-radius: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.upload-view {
    overflow-y: scroll;
}

.upload-name-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.upload-name {
    width: 100%;
}

.cancel-button {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}